<div class="page-header">
  <h1>
    Journal Entries
  </h1>
    <a href="/journal_entries/new" class="btn btn-primary">Write a new journal entry</a>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date of link</th>
        <th>Type of link</th>
        <th>Full name</th>
        <th>Reason</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>

      <% @journal_entries.each do |journal_entry| %>
      <tr>
        <td><%= journal_entry.date_of_link %></td>
        <td><%= journal_entry.type_of_link %></td>
        <td><%= journal_entry.friend.name %></td>
        <td><%= journal_entry.reason %></td>
        <td><%= journal_entry.notes %></td>
        <td>
          <a href="/journal_entries/<%= journal_entry.id %>" class="btn btn-xs btn-primary">Show</a>
          <a href="/journal_entries/<%= journal_entry.id %>/edit" class="btn btn-xs btn-primary">Edit</a>
          <a href="/delete_journal_entry/<%= journal_entry.id %>" class="btn btn-xs btn-primary" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
