<!-- Validation failure messages -->
<% if @journal_entry.errors.any? %>
  <% @journal_entry.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Write a new journal entry</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_journal_entry" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_of_link -->
      <div class="form-group">
        <label for="date_of_link" class="control-label">
          Date of contact
        </label>

        <input type="date" id="date_of_link" name="date_of_link" placeholder="Date of link" class="form-control" value="<%= @journal_entry.date_of_link %>">
      </div>

      <!-- Label and input for type_of_link -->
      <div class="form-group">
        <label for="type_of_link" class="control-label">
          Type of contact
        </label>

        <select type="text" id="type_of_link" name="type_of_link" placeholder="Type of link" class="form-control" value="<%= @journal_entry.type_of_link %>">
          <option>In-person</option>
          <option>Phone call</option>
          <option>Video chat</option>
          <option>Mailed letter or gift</option>
          <option>Email</option>
          <option>Text message</option>
        </select>
      </div>

      <!-- Label and input for friend_first_name -->
      <div class="form-group">
        <label for="friend_first_name" class="control-label">
          Friend full name
        </label>
        
        <%= select_tag("friend_id", options_from_collection_for_select(FriendsAndFamily.all, :id, :name, @journal_entry.friend_id), :class => "form-control") %>
        Or <a href="/friends_and_families/new">add a friend or family member</a>
      </div>

      <!-- Label and input for reason -->
      <div class="form-group">
        <label for="reason" class="control-label">
          Main reason for contact
        </label>

        <select type="text" id="reason" name="reason" placeholder="Reason" class="form-control" value="<%= @journal_entry.reason %>">
          <option>Birthday</option>
          <option>Holiday</option>
          <option>Planning an upcoming trip or event</option>
          <option>It's been too long</option>
          <option>Significant life event</option>
          <option>Damage control</option>
          <option>Just because</option>
        </select>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @journal_entry.notes %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-primary">
        Write journal entry
      </button>
      or
      <a href="/journal_entries">Cancel</a>
    </form>
  </div>
</div>
