<div class="page-header">
  <h1>
    Friends & Family
  </h1>
  <a href="/friends_and_families/new" class="btn btn-primary">Add a new friend or family member</a>
</div>

<div class="row">
  <div class="container">
    <table class="table table-striped table-hover">
      <tr>
        <th>Full name</th>
        <th>Relationship</th>
        <th>Birthday</th>
        <th>Employer or school</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

      <% @friends_and_families.each do |friends_and_family| %>
      <tr>
        <td><a href="friends_and_families/<%= friends_and_family.id %>"><%= friends_and_family.name %></a></td>
        <td><%= friends_and_family.relationship %></td>
        <td><%= friends_and_family.birthday %></td>
        <td><%= friends_and_family.current_employer_or_school %></td>
        <td><%= friends_and_family.address %></td>
        <td><%= friends_and_family.phone_number %></td>
        <td><a href="mailto:<%= friends_and_family.email %>"><%= friends_and_family.email %></a></td>
        <td>
          <a href="/friends_and_families/<%= friends_and_family.id %>/edit" class="btn btn-xs btn-primary">Edit</a>
          <a href="/journal_entries/new" class="btn btn-xs btn-primary">Write a journal entry</a>
          <a href="/delete_friends_and_family/<%= friends_and_family.id %>" class="btn btn-xs btn-primary" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
