<!-- Validation failure messages -->
<% if @friends_and_family.errors.any? %>
  <% @friends_and_family.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Friends And Family</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_friends_and_family" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @friends_and_family.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @friends_and_family.last_name %>">
      </div>

      <!-- Label and input for relationship -->
      <div class="form-group">
        <label for="relationship" class="control-label">
          Relationship
        </label>

        <input type="text" id="relationship" name="relationship" placeholder="Relationship" class="form-control" value="<%= @friends_and_family.relationship %>">
      </div>

      <!-- Label and input for birthday -->
      <div class="form-group">
        <label for="birthday" class="control-label">
          Birthday
        </label>

        <input type="text" id="birthday" name="birthday" placeholder="Birthday" class="form-control" value="<%= @friends_and_family.birthday %>">
      </div>

      <!-- Label and input for current_city -->
      <div class="form-group">
        <label for="current_city" class="control-label">
          Current city
        </label>

        <input type="text" id="current_city" name="current_city" placeholder="Current city" class="form-control" value="<%= @friends_and_family.current_city %>">
      </div>

      <!-- Label and input for current_employer_or_school -->
      <div class="form-group">
        <label for="current_employer_or_school" class="control-label">
          Current employer or school
        </label>

        <input type="text" id="current_employer_or_school" name="current_employer_or_school" placeholder="Current employer or school" class="form-control" value="<%= @friends_and_family.current_employer_or_school %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @friends_and_family.address %>">
      </div>

      <!-- Label and input for picture -->
      <div class="form-group">
        <label for="picture" class="control-label">
          Picture
        </label>

        <input type="text" id="picture" name="picture" placeholder="Picture" class="form-control" value="<%= @friends_and_family.picture %>">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @friends_and_family.phone_number %>">
      </div>

      <button class="btn btn-success">
        Create Friends And Family
      </button>
      or
      <a href="/friends_and_families">Cancel</a>
    </form>
  </div>
</div>
