<!-- Validation failure messages -->
<% if @friends_and_family.errors.any? %>
  <% @friends_and_family.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add a friend or family member!</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_friends_and_family" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Full name (first & last)
        </label>

        <input type="text" id="name" name="name" placeholder="First name & Last name" class="form-control" value="<%= @friends_and_family.name %>">
      </div>

      <!-- Label and input for relationship -->
      <div class="form-group">
        <label for="relationship" class="control-label">
          Relationship
        </label>
        
        <select type="text" id="relationship" name="relationship" placeholder="Relationship" class="form-control" value="<%= @friends_and_family.relationship %>">
          <option>Select a relationship</option>
          <option>Friend - pre-college</option>
          <option>Friend - college</option>
          <option>Friend - work</option>
          <option>Friend - graduate school</option>
          <option>Friend - other friends</option>
          <option>Friend - somewhere else</option>
          <option>Family - parent</option>
          <option>Family - sibling</option>
          <option>Family - aunt or uncle</option>
          <option>Family - cousin</option>
          <option>Family - niece or nephew</option>
          <option>Family - grandparent</option>
        </select>
      </div>

      <!-- Label and input for birthday -->
      <div class="form-group">
        <label for="birthday" class="control-label">
          Birthday
        </label>

        <input type="date" id="birthday" name="birthday" placeholder="Birthday" class="form-control" value="<%= @friends_and_family.birthday %>">
      </div>

      <!-- Label and input for current_employer_or_school -->
      <div class="form-group">
        <label for="current_employer_or_school" class="control-label">
          Current employer or school
        </label>

        <input type="text" id="current_employer_or_school" name="current_employer_or_school" placeholder="Current employer or school" class="form-control" value="<%= @friends_and_family.current_employer_or_school %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address (street, unit #, city, state, zip code)
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @friends_and_family.address %>">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="tel" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @friends_and_family.phone_number %>">
      </div>
      
      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @friends_and_family.email %>">
      </div>

      <button class="btn btn-primary">
        Create Friends And Family
      </button>
      or
      <a href="/friends_and_families">Cancel</a>
    </form>
  </div>
</div>
