<div class="page-header">
  <h3><%= @friends_and_family.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Full name</dt>
      <dd><%= @friends_and_family.name %></dd>

      <dt>Relationship</dt>
      <dd><%= @friends_and_family.relationship %></dd>

      <dt>Birthday</dt>
      <dd><%= @friends_and_family.birthday %></dd>

      <dt>Employer or school</dt>
      <dd><%= @friends_and_family.current_employer_or_school %></dd>

      <dt>Address</dt>
      <dd><%= @friends_and_family.address %></dd>

      <dt>Phone number</dt>
      <dd><%= @friends_and_family.phone_number %></dd>
      
      <dt>Email</dt>
      <dd><%= @friends_and_family.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends_and_families" class="btn btn-primary">
        Back to Friends & Family
      </a>
      <a href="/friends_and_families/<%= @friends_and_family.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friends_and_family/<%= @friends_and_family.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
